body {
    background-color: lightgray;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    width: 900px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


header {
    width: 50%;
    text-align: center;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

nav {
    width: 50%;
    text-align: center;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin: auto;
}

section {
    width: 50%;
    text-align: center;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px ;
    margin: auto;
        
}

button {
    background-color: lightcoral;
    color: white;
}



#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}


#facebook {
    height: 140px;
    width: 150px;
}

#linkedin {
    height: 140px;
    width: 150px;
}

#twitter {
    height: 140px;
    width: 150px;
}


#section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#section img {
    width: 200px;
    height: 400px;
}

#space {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

#hulot {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

#alien {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
